# PostgreSQL Connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ecommerce?schema=public"

# Store Branding
NEXT_PUBLIC_STORE_NAME="NEXORA Store"
NEXT_PUBLIC_STORE_TAGLINE="Destinasi Belanja Elektronik & Lifestyle Premium"

# Midtrans Payment Gateway (Sandbox Testing Mode)
MIDTRANS_SERVER_KEY="SB-Mid-server-your-server-key-here"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="SB-Mid-client-your-client-key-here"
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION=false
